:root{
    --main-colour:rgb(18, 15, 93);
}
.doubtbtn {
    width: 100%;
    background-color: var(--main-colour);
    border: none;
    margin-bottom: 1rem;
    padding: 12px;
    font-size: larger;
    font-weight: 200;
    text-transform: uppercase;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 12px;
    transition: all 300ms ease-in;
}
.doubtbtn:hover{
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.4ch;
    color: var(--main-colour);
    border:1px solid  var(--main-colour);
    transform: scale(1,1.2);
    margin-bottom: 23px;
    box-shadow: 0px 0px 25px 6px rgba(57, 177, 233, 0.529) ;
}

.modal {
    position: fixed;
    background: linear-gradient( 215deg,rgba(2, 0, 36, 0.759) 0%,rgba(9, 9, 121, 0.7) 34%,
      rgba(0, 212, 255, 1) 100%
    );
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
  }
  
  .modalcontent {
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px; 
  }
  
  @media (max-width: 450px) {
    .modalcontent {
      width: 90%; 
      padding:  4rem 2rem 3rem; 
    }
    .modalform input{
        font-size: 0.6rem;
    }
  }
  
.modalform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.submitdoubt {
    display: flex;
    flex-direction: column;
    width: 100%;

    border-radius: 12px;

}

.modalform input {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid var(--main-colour);
    border-radius: 12px ;
    font-size: 1.3rem;
    color: rgb(124, 142, 142);
    word-wrap: break-word;
    max-width: 70ch;
}
input:focus{
    border:  aqua;
}
#area{
    border-radius: 12px;
    padding: 12px;
    
    
    
    
    color: rgb(124, 142, 142);
    margin-block: 10px;
}
.modalform input:focus{
    border-color:  aqua;
    padding: 20px;
}
input::placeholder {
    font-weight: 300;
    font-size: 1.01rem;
}
.x{
    margin-inline:auto ;
    border-radius: 12px;
}
.plus {
    background-color: rgb(19, 36, 61);
    text-align: center;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 2.3rem;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: all 500ms ease-in;
}
.plus:hover{
    transform: translateY(-5px) scale(1.2);
    box-shadow: 8px 15px 12px rgba(19, 36, 61, 0.719);
    margin-block:12px ;
    border: 1px solid rgb(19, 36, 61);
    background-color: white;
    color: rgb(19, 36, 61);
}
::-webkit-scrollbar {
    width: 10px;
    height: 15px;
    
    
  }
  
  ::-webkit-scrollbar-track {
    background: #c9f2ed;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(38, 103, 234);
    border-radius: 14px;
    height: 15px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(14, 28, 84);
  }
  
  
  